<!DOCTYPE html>
<html>
<head>
  <title>
    paint-js
  </title>

  <!-- import bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- include style -->
  <link href='style/style.css' rel='stylesheet' type='text/css'>
  <!-- style sliders -->
  <link href='style/slider-style.css' rel='stylesheet' type='text/css'>
  <!-- style swatches -->
  <link href='style/swatch-style.css' rel='stylesheet' type='text/css'>

  <!-- include fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- include scripts -->

  <!-- import Vue itself -->
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <script src="vue_src/vue.js" type="text/javascript"></script>
  <!-- import color-sliders component -->
  <script src="script/color-sliders.js" type="text/javascript"></script>
  <!-- import color-swatch component -->
  <script src="script/color-swatch.js" type="text/javascript"></script>
  <!-- import paint-js-canvas component -->
  <script src="script/paint-js-canvas.js" type="text/javascript"></script>
  <!-- import utility-button component -->
  <script src="script/utility-button.js" type="text/javascript"></script>
  <!-- import tool-button component -->
  <script src="script/tool-button.js" type="text/javascript"></script>
  <!-- import tool-sliders component -->
  <script src="script/tool-sliders.js" type="text/javascript"></script>


</head>
<body>
  <div id="paint-js">
    <div id="toolbars">

      <ul class="tab-area">
        <li class="tab" v-for="(tab, index) in tabs"><a href="javascript:void(0)" class="tablink" :class="{active: tab_selected == index}" @click="openTab(index)">
          {{ tabs[index] }}
        </a></li>
      </ul>

      <div id="utilities" class="tabcontent" v-if="tab_selected == 0">
        <utility-button
          v-for="(button, index) in utility_buttons"
          :key="button"
          :button-name="button"
          @buttonpress="executeUtility(index)" >
        </utility-button>
      </div>

      <div id="tools" class="tabcontent" v-if="tab_selected == 1">
        <tool-button
          v-for="(tool, index) in tools"
          :key="tool"
          :button-name="tool.name"
          :selected="index == tool_selected"
          @buttonpress="selectTool(index)" >
        </tool-button>

        <tool-sliders
          v-for="(tool, index) in tools"
          v-if="index == tool_selected"
          :key="tool"
          :tool-properties="tools[index].properties" >
        </tool-sliders>

      </div>

      <div id="colors" class="tabcontent" v-if="tab_selected == 2">

        <div id="color_swatch_selector">
          <color-swatch
            :swatch-name="primary_swatch_name"
            :selected="primary_selected"
            :color-style="primary_style"
            @selectswatch="selectPrimarySwatch">
          </color-swatch>
          <color-swatch
            :swatch-name="secondary_swatch_name"
            :selected="secondary_selected"
            :color-style="secondary_style"
            @selectswatch="selectSecondarySwatch">
          </color-swatch>

          <color-sliders
            :color-prop="primary_color"
            :visible="primary_selected"
            @colorchanged="updatePrimaryColor">
          </color-sliders>
          <color-sliders
            :color-prop="secondary_color"
            :visible="secondary_selected"
            @colorchanged="updateSecondaryColor">
          </color-sliders>
        </div>

      </div>
      <div id="other" class="tabcontent" v-if="tab_selected == 3">

        <a href="in_progress/color-sliders.html">Color Picker Demo</a>

      </div>



    </div>
    <div id="canvas-area">

      <paint-js-canvas
      ref="paintjscanvas"
      :primary-color="primary_color"
      :secondary-color="secondary_color"
      :primary-color-style="primary_style"
      :secondary-color-style="secondary_style" >
      </paint-js-canvas>

    </div>
  </div>



  <script>

    var vm = new Vue({
      el: '#paint-js',

      data: {
        tabs: ['Utilities', 'Tools', 'Colors', 'Other'],
        tab_selected: 0,

        tools:  [ { name: 'pencil', properties: { width: 1 } },
                  { name: 'brush', properties: { width: 5, hardness: 100 } },
                  { name: 'eraser', properties: { width: 5 } },
                  { name: 'bucket', properties: { leniency: 0 } },
                  { name: 'pen', properties: { width: 5, angle: 100 } },
                ],

        tool_selected: 0,

        primary_color: [0, 0, 0],
        secondary_color: [0, 0, 0],
        primary_swatch_name: "Primary",
        secondary_swatch_name: "Secondary",
        primary_selected: true,
        secondary_selected: false,
        primary_style: "rgba(0, 0, 0, 1)",
        secondary_style: "rgba(0, 0, 0, 1)",

        utility_buttons: ['Save', 'Load', 'Undo', 'Redo', 'Clear'],

      },

      methods: {
        openTab: function(tab) {
          this.tab_selected = tab;
        },
        executeUtility: function(utility) {
          if (utility == 0) {         // save
            this.saveCanvas();
          } else if (utility == 1) {  // load

            // TODO: GARRETT

          } else if (utility == 2) {  // undo

            // TODO: COREY

          } else if (utility == 3) {  // redo

            // TODO: COREY

          } else if (utility == 4) {  // clear
            this.clearCanvas();
          }
        },

        selectTool: function(t) {
          this.tool_selected = t;
        },

        updatePrimaryColor: function(e) {
          this.primary_color[0] = e.R;
          this.primary_color[1] = e.G;
          this.primary_color[2] = e.B;
          this.primary_style = e.color_style;
        },
        updateSecondaryColor: function(e) {
          this.secondary_color[0] = e.R;
          this.secondary_color[1] = e.G;
          this.secondary_color[2] = e.B;
          this.secondary_style = e.color_style;
        },

        selectPrimarySwatch: function(e) {
          this.primary_selected = true;
          this.secondary_selected = false;
        },
        selectSecondarySwatch: function(e) {
          this.secondary_selected = true;
          this.primary_selected = false;
        },

        saveCanvas: function() {
          // execute saveCanvas() method from child
          this.$refs.paintjscanvas.saveCanvas();
        },

        clearCanvas: function() {
          // execute clearCanvas() method from child
          this.$refs.paintjscanvas.clearCanvas();
        }

      }
    })

  </script>

</body>
</html>
