/* styling the sliders */
input[type=range] {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 10px;
  width: calc(100% - 100px);
  background-color: #99ccff;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.red-slider::-webkit-slider-thumb {
  background: #ff4444;
}
.green-slider::-webkit-slider-thumb {
  background: #44ff44;
}
.blue-slider::-webkit-slider-thumb {
  background: #4444ff;
}
.darkness-slider::-webkit-slider-thumb {
  background: #444444;
}
.brightness-slider::-webkit-slider-thumb {
  background: #aaaaaa;
}
/* end styling sliders */

/* styling other elements in <color-sliders> */
.controllers {
  width: 250px;
  margin: 0;
  margin-left: 10px;
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
}


/* end styling other elements in <color-sliders> */
