/* html and body definitions are used to fill space without scrol bars*/
html{
  height: 100%;
}

body{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* toolbars div is the top 150px of the screen */
#toolbars {
  background-color: green;
  width: 100%;
  height: 150px;

}
/* canvas-area div is the remaining area of the screen */
#canvas-area {
  background-color: red;
  width: 100%;
  height: calc(100% - 150px);

}

.tab {
  float: left;
  height: 30px;
  width: 150px;
  background-color: grey;
  outline: solid 1px;

}
.remaining-tab-area {
  float: left;
  height: 30px;
  width: calc(100% - 450px);
  background-color: grey;
  outline: solid 1px;
}
