/* html and body definitions are used to fill space without scrol bars*/
html{
  height: 100%;
}

body{
  margin: 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* toolbars div is the top 150px of the screen */
#toolbars {
  background-color: #99ccff;
  width: 100%;
  height: 150px;

}
/* canvas-area div is the remaining area of the screen */
#canvas-area {
  background-color: #e6e6e6;
  width: 100%;
  height: calc(100% - 150px);

}
#canvas {
  background-color: white;
  cursor: crosshair;
  box-shadow: 0px 0px 0px 1px #000000 inset;
}
/* tab that opens by default when the program loads */
#default-open {

}

.tab {
  min-width: 50px;
  max-width: 130px;
  margin-left: 5px;
  margin-right: 5px;
  height: 26px;
  margin-top: 4px;
  flex-grow: 1;
}

.tabcontent {
  display: block;
}

.tablink {
  font-family: 'Muli', sans-serif;
  display: block;
  /*box-shadow: 0px 0px 0px 1px #000000 inset;*/
  background-color: #80b3ff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
}

.active {
  background-color: #99ccff;
}


.tab-area {
  margin: 0px;
  list-style-type: none;
  display: flex;
  height: 30px;
  width: 100%;
  padding-left: 0px;
  background-color: #8080ff;
  /*box-shadow: 0px 0px 0px 1px #000000 inset;*/
}

/* styles for color tab */
#colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 30px);
}

#primary-and-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
}

.color-container {
  width: 80px;
  height: 80px;
}
.color-text {
  font-family: 'Muli', sans-serif;
  text-align: center;
}
.color-box {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 2px 0px #444444;
}

#primary-color {
  display: block;
  height: 100%;
  width: 100%;
  background-color: red;
}

#secondary-color {
  display: block;
  height: 100%;
  width: 100%;
  background-color: blue;
}

.selected {
  box-shadow: 2px 2px 2px 0px #444444, 0px 0px 0px 2px #fff inset;
}

.color-slider {
  display: block;
  margin-top: 10px;
  width: 100px;
}
/* end styles for color tab */

/* styles for utilities tab */
.button-container {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-top: 20px;
}

.button {
  display: block;
  text-align: center;
  background-color: #80b3ff;
  width: 100%;
  height: 100%;
}


/* end styles for utilities tab */
